body {
  --bc-color: white;

  text-transform: none;
  color: white;
  color: black;
  letter-spacing: 1.5px;
  word-spacing: 1.5px;
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header,
.footer,
.header__logo a,
.footer__logo a {
  color: rgba(0, 0, 0, 0.8);
}

.nav__button, #account-nav {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.nav__link:hover {
  color: black;
  border-bottom: 1px solid black;
}

.nav__button:hover, #account-nav:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.1);
}

.nav__account--img::before {
  background-color: rgba(0, 0, 0, 1);
}

/* Modal */

.modal__button {
  background-color: black;
}

/**************** Contacts section ****************/

.contacts-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  height: 100vh;
  padding: 50px 100px;
}

.contacts-section__text {
  margin-top: 50px;
}

.contacts-section__text p {
  margin-top: 10px;
}

.contacts-section__title {
  position: absolute;
  top: 20%;
  left: 8%;
  width: 600px;
}

.contacts-section__description {
    width: 400px;
    transform: translateY(-50px);
}

.contacts-section__description > div:not(:last-child) {
    margin-bottom: 40px;
}

.contacts-section__description h4 {
    margin-bottom: 5px;
}

