
.hero-section {
    position: relative;
    color: white;
    height: 100vh;
  }
  
  .hero-section__background {
    position: relative;
  }
  
  .hero-section__background--image {
    position: absolute;
    right: 0;
    height: 100vh;
  }
  
  .hero-section__title {
    position: absolute;
    top: 20%;
    left: 8%;
    width: 600px;
  }
  
  .hero-section__button {
    display: block;
    margin-top: 100px;
    word-spacing: 5px;
  
    position: relative;
  }
  
  .hero-section__button::before {
    content: "";
    display: block;
    width: 120px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 50%;
    left: 23%;
  }
  .hero-section__button::after {
    content: "";
    display: block;
    width: 120px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translateY(-50%);
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
  }
  
  .hero-section__button:hover::after {
      transform: scaleX(1);
    background-color: white;
  }
  
  .hero-section__button--svg {
    position: absolute;
    top: -120%;
    left: 43%;
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
  }
  
  .circle {
    stroke-dasharray: 377;
    stroke-dashoffset: 377;
    transition: .4s ease;
    transition-delay: .3s;
  }

  .circle.out {
    transition-delay: .0s;
}

.out.hero-section__button::after {
      transition-delay: .4s;
  }
  
  .hero-section__button--svg:hover .circle, .hero-section__button:hover .circle {
    stroke-dashoffset: 0;
  }
  
  .hero-section__button span::before {
    content: "";
    display: block;
    width: 7px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 5px;
    left: 46.8%;
    transform: rotate(45deg) translateY(-50%);
  }
  
  .hero-section__button span::after {
    content: "";
    display: block;
    width: 7px;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 3px;
    left: 46.99%;
    transform: rotate(-45deg) translateY(-50%);
  }
  
  .hero-section__menu {
    position: absolute;
    bottom: 0;
    height: 120px;
    width: 100%;
  
    box-shadow: 0 0 10rem 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
  }
  
  .menu__links {
    height: 100%;
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .menu__link {
    width: 25%;
    background-color: rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.2s ease-in-out;
  }
  
  .menu__link a {
    height: 100%;
    display: flex;
    align-items: center;
    place-content: center;
    text-align: center;
  
    width: 100%;
    padding: 30px;
  }
  
  .menu__link:hover {
    background-color: rgba(255, 255, 255, 0.35);
    color: white;
  }
  
  .menu__icon {
    height: 35px;
    margin-right: 15px;
  }
  