.overflow {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;

  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 50px;
  background-color: #fff;
  color: black;
}

#modal--sign-up,
#modal--login {
  display: none;
}

.modal__title {
  text-align: center;
  margin-bottom: 30px;
}

.modal__close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 40px;
  cursor: pointer;
}

.modal__form label {
  font-size: 15px;
  letter-spacing: 1px;
  position: relative;
}

.modal__form input {
  display: block;
  width: 100%;
  margin: 6px 0 40px;
}

.modal__button {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  font-size: 12px;
  color: white;
  /* background-color: #a5bfc4; */
  background-color: var(--bc-color);
  box-shadow: 0px 5px 8px 1px rgba(61, 61, 61, 0.3);
  transition: 0.1s ease-in-out;
}

.modal__button:active {
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

/* Стиль ошибок */
.error {
  width: 100%;
  padding: 0;
  color: red;
  background-color: white;
  box-sizing: border-box;
  position: relative;
}

.hide {
  display: none;
}

.error.active {
  padding: 0.7em;
  font-size: 10px;
}
