* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Jost", sans-serif;
  font-size: 10px;
  font-weight: 400;
}

body {
  letter-spacing: 3px;
  --bc-color: #a5bfc4;
  background-color: var(--bc-color);
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  text-transform: none;
  letter-spacing: normal;
}

h1 {
  font-size: 70px;
  font-weight: 400;
}

h2 {
    font-size: 45px;
    font-weight: 400;
}

h3 {
  font-size: 35px;
  font-weight: 400;
}

h4 {
    font-size: 2rem;
    font-weight: 500;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  font: inherit;
  text-transform: uppercase;
  letter-spacing: inherit;
  color: inherit;
  cursor: pointer;
}

p {
    line-height: 18px;
    font-size: 13px;
}

input, textarea, select {
  padding: 5px 10px;
}

footer {
  height: 100px;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 1);
}